[Desktop Entry]
Version=1.0
Type=Application
Name=PCUtil
Comment=Overclocking, specs, benchmarking, and driver updates
Exec=pkexec /usr/local/bin/pcutil
Icon=processor
Terminal=false
Categories=System;Settings;HardwareSettings;
Keywords=cpu;overclock;benchmark;tuner;amd;intel;pcutil;
StartupNotify=true

